/*Tag for everything on the page, change font style here for whole page*/
body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Oswald', sans-serif;
}

/*Spawned content should be below navigation bars, change margin here*/
.content {
  margin-top: 80px;
}

/*Contains navigation and login fields, is fixed so that it will stay visible when scrolling*/
.bar-container {
    position:fixed;
    background-color: #444;
    top: 0;
    padding: 0;
    margin-top: 0%;
    margin-right: 0%;
    width: 100%;
    height: 25px;
}

/*Position of login fields*/
.login {
    position:absolute;
    top: 0;
    padding: 0;
    margin-top: 0%;
    margin-left: 80%;
    width: 100%;
}

.login ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
/*Outward appearance of login items concerning everything aside from color*/
.login li{
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -4px;
  width: 10%;
  text-align: center;
}

/*Color of login items*/
.login a {
  text-decoration: none;
  color: #088A4B;
  display: block;
  transition: .3s background-color;
}

/*Color of login item background when hovered*/
.login a:hover {
  background-color: #005f5f;
}

/*Position of navigation fields*/
.nav {
  position:absolute;
  top: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.nav ul {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
}

/*Outward appearance of navigation items concerning everything aside from color*/
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-right: -4px;
  width: 10%;
  text-align: center;
}
 
 /*Color of navigation items*/
.nav a {
  text-decoration: none;
  color: #088A4B;
  display: block;
  transition: .3s background-color;
}

/*Color of navigation item background when hovered*/
.nav a:hover {
  background-color: #005f5f;
}
 
 /*Color of active navigation item*/
.nav a.active {
  background-color: #0CCD70;
  color: #444;
  cursor: pointer;
}
 
}