<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Passwort vergessen!</h1>
    <p>
      Ihr Passwort auf StudyAdministration muss neu gesetzt werden:<br>
      <br>
      <%= @url %><br>
    </p>
  </body>
</html>
