<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Willkommen auf StudyAdministration!</h1>
    <p>
      Sie wurden erfolgreich auf StudyAdministration mit Ihrer E-Mail Addresse:<br>
      <br>
      <%= @user.email %><br>
      <br>
      registriert.
    </p>
    <p>
      <br>
      Zum Einloggen auf unserer Seite, folgen Sie diesem Link: <%= @url %>.
    </p>
  </body>
</html>
