<h1>Die Kuh </h1>

Auf der saftiggr체nen Wiese<br/>
weidet ausgerechnet diese<br/>
eine Kuh, eine Kuh.<br/>
<br/>
Ach, ihr Herz ist voller Sehnen,<br/>
und im Auge schimmern Tr채nen<br/>
ab und zu, ab und zu.<br/>
<br/>
Was ihr schmeckte, wiederkaut se<br/>
mit der Schnauze, dann verdaut se<br/>
und macht Muh, und macht Muh.<br/>
<br/>
Tr채umend und das Maul bewegend<br/>
schaut sie d채mlich in die Gegend<br/>
grad wie du, grad wie du.<br/>
<br/>
*Heinz Erhardt
